.vs/Terraform-Azure/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.terraform/plugins/windows_amd64/terraform-provider-azurerm_v1.44.0_x4.exe
.terraform/plugins/windows_amd64/lock.json
terraform.tfstate.backup
terraform.tfstate
.terraform/plugins/darwin_amd64/terraform-provider-azurerm_v1.44.0_x4
.terraform/plugins/darwin_amd64/lock.json
